# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ashes.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Borovak\source\repos\Ashes\.idea\.idea.Ashes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
